body{
    background-color: rgb(12, 12, 12);
    color: white;
    margin: 0;
    padding: 0;
}

.left{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    float: left;
    background-color: rgb(12, 12, 12);
    position: fixed;
    height: 100%;
    width: 300px;
    border-right: 3px solid white;
}

.left ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*text-align: center;*/
}

.left a{
    display: block;
    padding: 20px 40px;
    /*border-top: 1px solid white;
    border-bottom: 1px solid white;*/
    border-radius: 100pc;
    font-size: 30px;
    text-decoration: none;
    color: white;
    transition: all 0.2;
}

.left a:hover{
    background: #16AE58;
}

.left i{
    color: white;
    padding: 10px;
}

.logo{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 10px 20px;
}

.center{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: left;
    font-weight: bold;
    background-color: rgb(12, 12, 12);
    margin-left: 302px;
    position: fixed;
    height: 100%;
    width: 80%;
    transition: all 0.5s;
    /*align-items: center;*/
}

.title{
    text-align: center;
    font-size: 40px;
    color: white;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 2px solid white;
}

.center .card {
    width: 250px;
    height: 200px;
    box-shadow: 0 2px 2px #16AE58;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 10px 10px 30px;
    transition: all 0.25s;
    display: inline-block;
    cursor: pointer
}

.center .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px #16AE58;
}

.center .card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.center .card h3{
    /*font-weight: 800;*/
    padding: 10px;
    margin: 0;
    color: white;
}


.right{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: none; 
    background-color: rgb(12, 12, 12);
    margin-left: 1214px;
    position: fixed;
    height: 100%;
    width: 319px;
    float: left;
    border-left: 3px solid white ;
}

.right p{
    padding: 10px;
    text-align: justify;
}
